<ion-header [translucent]="true">
	<ion-toolbar color="light">
		<ion-title>
			The Doorway Experience
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-content>
	<div class="containerHeading2">
		<p style="color:#fff">{{instruction}}</p>

	</div>


	<div class="centerPlayer">
		<audio controls style="width:80%" (ended)='onEnd()'>
			<source id='transitionAudio' src='{{transition}}' type="audio/WAV"> <!--unless we're using mp3-->
		</audio>
	</div>

	<div  class="lowerButton" (click)='onEnd()'>
		<ion-button size="large" color="light" shape="round">DONE</ion-button>
	</div>

</ion-content>
 