<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      TESTS
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <ion-button class="ut" expand="block" (click)="onclick(1)">
      Condition 1
    </ion-button>
  <div>
    <ion-button class="ut" expand="block" (click)="onclick(2)">
      Condition 2
    </ion-button>
  <div>
    <ion-button class="ut" expand="block" (click)="onclick(3)">
      Condition 3
    </ion-button>
  </div>
