<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      The Doorway Experience
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerHeadingFirst">
    <t>Which mode are you in right now?</t>
  </div>

  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" (click)="onclick(1)">
      Version A
    </ion-button>
  </div>
  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" (click)="onclick(2)">
      Version B
    </ion-button>
  </div>
  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" (click)="onclick(3)">
      Version C
    </ion-button>
  </div>
</ion-content>