ion-content {
    --ion-background-color: #FFB300;
    }

.containerHeadingConfirm {
  font-size: 35px;
  position:absolute;
  padding: 20px;
  bottom:60%;
  top:20%;
  width: 100%;
  border: none;
  text-align: center;
}