<ion-header>
  <ion-toolbar>
    <ion-title>transitionTo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col text-center">
  <button ion-button full [color]="success" (click)="leisureClicked()">
    Work
  </button>
</div>
</div>
<div class="row">
  <div class="col text-center">  
<button ion-button full [color]="secondary" (click)="sleepClicked()">
    Sleep 
  </button>
</div>
</div>
  <button ion-button full [color]="secondary" (click)="WorkoutClicked()">
    Workout 
  </button>
</ion-content>

