<ion-header>
  <ion-toolbar>
    <ion-title>DIE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <img src="/assets/leisure.png"style="vertical-align:middle;margin:2px 2px" height="180">
    <button ion-button full [color]="success" (click)="this.changePage('leisure')">
      Leisure
    </button>
</div>

<div class="container1">
  <img src="/assets/sleep.png"style="vertical-align:middle;margin:2px 2px" height="250" width="250">  
  <button ion-button full [color]="success" (click)="this.changePage('sleep')">
    Sleep 
  </button>
</div>
</ion-content>
