.containerFirst {
  position:relative;
  top:20%;
  margin: auto;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.containerHeadingFirst {
  position:absolute;
  font-size: 30px;
  bottom:80%;
  top:5%;
  padding: 20px;
  width: 100%;
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align:middle;
}
