<ion-header>
  <ion-toolbar>
    <ion-title>The Doorway Experience</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="containerHeadingFirst">
  <p>Which mode are you in right now?</p>
</div>

  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" (click)="this.changePage('leisure')">
      LEISURE
    </ion-button>
</div>

<div class="containerFirst">
  <ion-button size="large" color="light" shape="round" expand="full" (click)="this.changePage('sleep')">
    SLEEP
  </ion-button>
</div>

  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" disabled="true">
      WORKOUT
    </ion-button>
  </div>

  <div class="containerFirst">
    <ion-button size="large" color="light" shape="round" expand="full" disabled="true">
      WORK
    </ion-button>
  </div>

</ion-content>
