.containerHeadingHome {
  margin: auto;
  font-size: 35px;
  padding: 10px;
  height: 120px;
  line-height: 120px;
  width: 100%;
  border: none;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}

.sleep{
    --background: #AAEDFF;
    --color: #fff;

}

.leisure{
    --background: #00FF3C;
    --color: #fff;
}

.work{
  --background: #0011FF;
  --color: #fff;
}

.workout{
  --background: #FE0A0A;
  --color: #fff;
}

