<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title>
      The Doorway Experience
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <h5>Transition to:</h5>

  <ion-slides pager="false" [options]="slideOptions" #slideWithNav
    (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
    <ion-slide *ngFor="let s of sliderOne.slidesItems">
      <img src="../../assets/images/{{s.id}}.png">
    </ion-slide>
  </ion-slides>

</ion-content>
